@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,700&display=swap");
/*--------RESET SIEMPRE --------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  width: 100%;
  height: 100vh;
  background: url(../img/background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }
  header section nav {
    display: flex;
    justify-content: space-between; }
    header section nav a h1 {
      text-decoration: none;
      background-color: rgba(255, 228, 196, 0.507);
      border: 2px solid;
      border-radius: 10px;
      color: #720101;
      font-family: 'Times New Roman', Times, serif;
      font-size: 40px;
      font-weight: 800;
      margin-top: 15px;
      margin-left: 40px;
      padding: 15px; }
      header section nav a h1 span {
        color: black; }
    header section nav ul {
      list-style: none;
      margin-top: 40px;
      display: flex;
      justify-content: center; }
      header section nav ul li a {
        text-decoration: none;
        font-size: 15px;
        color: black;
        background-color: #ffdcc4;
        border: 2px #720101 solid;
        border-radius: 5px;
        font-weight: 600;
        font-family: 'Arvo', serif;
        font-style: inherit;
        margin: 10px;
        padding: 3px; }
        header section nav ul li a:hover {
          background-color: #720101;
          color: beige; }
  header section .central {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    header section .central h2 {
      color: white;
      font-size: 70px;
      font-weight: 800;
      font-style: normal;
      font-family: 'Times New Roman', Times, serif;
      border: 3px #720101 solid;
      border-radius: 5px;
      background-color: rgba(0, 0, 0, 0.336);
      display: inline-block;
      width: 800px;
      height: 80px;
      text-align: center; }

.produc {
  width: 100%;
  height: 100vh;
  background-image: url("../img/back productos.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

.productos h2 {
  width: 100%;
  height: 150px;
  font-size: 40px;
  color: black;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 800;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkgrey; }

.productos .grid-container {
  width: 100%;
  height: 2500px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 200px;
  gap: 15px;
  flex-wrap: wrap; }
  .productos .grid-container .cero {
    width: 100%;
    height: 1600px; }
    .productos .grid-container .cero h2 {
      background-color: rgba(114, 1, 1, 0.938);
      border: 2px black solid;
      border-radius: 10px;
      color: bisque;
      font-family: 'Times New Roman', Times, serif;
      font-size: 40px;
      font-weight: 600;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 60px;
      margin-left: 10px; }
    .productos .grid-container .cero .ceromenos {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      font-size: 20px;
      padding-top: 30px; }
      .productos .grid-container .cero .ceromenos a {
        text-decoration: none;
        text-align: center;
        color: bisque;
        width: 200px;
        height: 40px;
        border: 2px black solid;
        border-radius: 5px;
        background-color: rgba(114, 1, 1, 0.938);
        padding: 5px 10px 5px 10px;
        margin-top: 30px; }
      .productos .grid-container .cero .ceromenos a {
        text-decoration: none;
        text-align: center;
        color: bisque;
        width: 200px;
        height: 40px;
        border: 2px black solid;
        border-radius: 5px;
        background-color: rgba(114, 1, 1, 0.938);
        padding: 5px 10px 5px 10px;
        margin-top: 30px; }
      .productos .grid-container .cero .ceromenos a {
        text-decoration: none;
        text-align: center;
        color: bisque;
        width: 200px;
        height: 40px;
        border: 2px black solid;
        border-radius: 5px;
        background-color: rgba(114, 1, 1, 0.938);
        padding: 5px 10px 5px 10px;
        margin-top: 30px; }
    .productos .grid-container .cero .ceromas {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      margin-top: 100px; }
      .productos .grid-container .cero .ceromas h3 {
        width: 200px;
        height: 50px;
        color: bisque;
        background-color: rgba(114, 1, 1, 0.938);
        font-size: 25px;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 800;
        padding: 5px 10px 5px 10px;
        border: 2px black solid;
        border-radius: 5px;
        text-align: center;
        margin-bottom: 40px; }
      .productos .grid-container .cero .ceromas ul {
        color: black;
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 500;
        margin-bottom: 40px;
        padding: 5px 10px 5px 10px; }
        .productos .grid-container .cero .ceromas ul li {
          padding: 5px; }
        .productos .grid-container .cero .ceromas ul li {
          padding: 5px; }
        .productos .grid-container .cero .ceromas ul li {
          padding: 5px; }
        .productos .grid-container .cero .ceromas ul li {
          padding: 5px; }
        .productos .grid-container .cero .ceromas ul li {
          padding: 5px; }
        .productos .grid-container .cero .ceromas ul li {
          padding: 5px; }
    .productos .grid-container .cero .cerocero {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-top: 40px; }
      .productos .grid-container .cero .cerocero h3 {
        color: bisque;
        background-color: rgba(114, 1, 1, 0.938);
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 800;
        padding: 5px 0px 5px 0px;
        border: 2px black solid;
        border-radius: 5px;
        width: 200px;
        margin-top: 30px; }
      .productos .grid-container .cero .cerocero h3 {
        color: bisque;
        background-color: rgba(114, 1, 1, 0.938);
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 800;
        padding: 5px 0px 5px 0px;
        border: 2px black solid;
        border-radius: 5px;
        width: 200px;
        margin-top: 30px; }
      .productos .grid-container .cero .cerocero h3 {
        color: bisque;
        background-color: rgba(114, 1, 1, 0.938);
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 800;
        padding: 5px 0px 5px 0px;
        border: 2px black solid;
        border-radius: 5px;
        width: 200px;
        margin-top: 30px; }
      .productos .grid-container .cero .cerocero h3 {
        color: bisque;
        background-color: rgba(114, 1, 1, 0.938);
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 800;
        padding: 5px 0px 5px 0px;
        border: 2px black solid;
        border-radius: 5px;
        width: 200px;
        margin-top: 30px; }

.productos .uno img {
  width: 100%;
  height: 100%;
  border: 2px #2b2323 solid; }

.productos .uno h3 {
  font-size: 20px;
  color: #7e0707;
  text-align: center; }

.productos .dos img {
  width: 100%;
  height: 100%;
  border: 2px black solid; }

.productos .dos h3 {
  font-size: 20px;
  color: #7e0707;
  text-align: center; }

.productos .tres img {
  width: 100%;
  height: 100%;
  border: 2px black solid; }

.productos .tres h3 {
  font-size: 20px;
  color: #7e0707;
  text-align: center; }

.proyect {
  width: 100%;
  height: 100vh;
  background-image: url("../img/back proyectos.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

.hero {
  width: 100%;
  height: auto;
  padding-bottom: 40px; }
  .hero .titulo {
    width: 80%;
    height: 250px;
    text-align: center;
    background-color: #8b0900;
    border: 3px black solid;
    border-radius: 5px;
    margin: 50px auto; }
    .hero .titulo h2 {
      color: white;
      font-size: 40px;
      font-weight: 500;
      font-family: 'Times New Roman', Times, serif;
      font-style: normal; }
    .hero .titulo p {
      color: white;
      font-size: 16px;
      font-weight: 300;
      font-family: Arial, Helvetica, sans-serif;
      font-style: italic; }
  .hero .sistemas {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    position: relative; }
    .hero .sistemas div {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 300px;
      height: 500px;
      margin-bottom: 50px;
      flex-wrap: wrap; }
      .hero .sistemas div a img {
        width: 350px;
        height: 550px; }
      .hero .sistemas div a h3 {
        color: white;
        background-color: rgba(0, 0, 0, 0.596);
        border-radius: 5px;
        padding: 0px 5px 0px 5px;
        font-size: 25px;
        font-family: 'Arvo', serif;
        font-weight: 600;
        position: absolute;
        bottom: 80px; }
      .hero .sistemas div a p {
        width: 260px;
        color: whitesmoke;
        font-size: 14px;
        background-color: rgba(0, 0, 0, 0.596);
        border-radius: 5px;
        padding: 0px 5px 0px 5px;
        position: absolute;
        bottom: 0px;
        text-align: center; }
    .hero .sistemas div {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 300px;
      height: 500px;
      margin-bottom: 50px;
      flex-wrap: wrap; }
      .hero .sistemas div a img {
        width: 350px;
        height: 550px; }
      .hero .sistemas div a h3 {
        color: white;
        background-color: rgba(0, 0, 0, 0.596);
        border-radius: 5px;
        padding: 0px 5px 0px 5px;
        font-size: 25px;
        font-family: 'Arvo', serif;
        font-weight: 600;
        position: absolute;
        bottom: 80px; }
      .hero .sistemas div a p {
        width: 260px;
        color: whitesmoke;
        font-size: 14px;
        background-color: rgba(0, 0, 0, 0.596);
        border-radius: 5px;
        padding: 0px 5px 0px 5px;
        position: absolute;
        bottom: 0px;
        text-align: center; }
    .hero .sistemas div {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 300px;
      height: 500px;
      margin-bottom: 50px;
      flex-wrap: wrap; }
      .hero .sistemas div a img {
        width: 350px;
        height: 550px; }
      .hero .sistemas div a h3 {
        color: white;
        background-color: rgba(0, 0, 0, 0.596);
        border-radius: 5px;
        padding: 0px 5px 0px 5px;
        font-size: 25px;
        font-family: 'Arvo', serif;
        font-weight: 600;
        position: absolute;
        bottom: 80px; }
      .hero .sistemas div a p {
        width: 260px;
        color: whitesmoke;
        font-size: 14px;
        background-color: rgba(0, 0, 0, 0.596);
        border-radius: 5px;
        padding: 0px 5px 0px 5px;
        position: absolute;
        bottom: 0px;
        text-align: center; }

.service {
  width: 100%;
  height: 100vh;
  background-image: url("../img/baack servicio.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

main h2 {
  color: black;
  font-size: 40px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 800;
  text-align: center;
  margin: 50px 0px 50px 0px; }

main .servicios img {
  width: 400px;
  height: 300px; }

main .servicios div {
  margin: 30px 40px 30px 40px;
  display: flex;
  justify-content: space-around;
  border: 2px rgba(100, 4, 17, 0.938) solid;
  border-radius: 5px;
  background-color: rgba(42, 52, 87, 0.61); }

main .servicios .asesor div {
  margin: 30px 40px 30px 40px;
  display: flex;
  justify-content: space-around;
  border: 2px rgba(100, 4, 17, 0.938) solid;
  border-radius: 5px;
  background-color: rgba(42, 52, 87, 0.61); }
  main .servicios .asesor div h3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 60%; }
  main .servicios .asesor div p {
    color: black;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: center; }

main .servicios .diseño div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 60%; }
  main .servicios .diseño div h3 {
    color: bisque;
    font-size: 35px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif; }
  main .servicios .diseño div p {
    color: black;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: center; }

main .servicios .dimension div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 60%; }
  main .servicios .dimension div h3 {
    color: bisque;
    font-size: 35px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif; }
  main .servicios .dimension div p {
    color: black;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: center; }

main .servicios .presupuesto div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 60%; }
  main .servicios .presupuesto div h3 {
    color: bisque;
    font-size: 35px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif; }
  main .servicios .presupuesto div p {
    color: black;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: center; }

main .servicios .ejecucion div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 60%; }
  main .servicios .ejecucion div h3 {
    color: bisque;
    font-size: 35px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif; }
  main .servicios .ejecucion div p {
    color: black;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: center; }

main .servicios .garantias div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 60%; }
  main .servicios .garantias div h3 {
    color: bisque;
    font-size: 35px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif; }
  main .servicios .garantias div p {
    color: black;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: center; }

main .servicios .mantenimiento div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 60%; }
  main .servicios .mantenimiento div h3 {
    color: bisque;
    font-size: 35px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif; }
  main .servicios .mantenimiento div p {
    color: black;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: center; }

footer {
  width: 100%;
  height: 450px;
  background-color: #720101; }
  footer section .marcas {
    width: 100%;
    height: 100px;
    background-color: #1f7274;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px; }
    footer section .marcas img {
      width: 100px;
      height: 50px;
      border: 3px #720101 solid;
      border-radius: 5px; }
  footer .titulares {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    footer .titulares .links {
      font-size: 20px;
      font-weight: 700;
      padding-bottom: 30px;
      list-style: none; }
      footer .titulares .links h4 {
        font-size: 25px;
        color: bisque;
        font-weight: 800;
        padding-bottom: 20px; }
      footer .titulares .links li a {
        text-decoration: none;
        color: bisque; }
      footer .titulares .links li a {
        text-decoration: none;
        color: bisque; }
      footer .titulares .links li a {
        text-decoration: none;
        color: bisque; }
      footer .titulares .links li a {
        text-decoration: none;
        color: bisque; }
      footer .titulares .links li a {
        text-decoration: none;
        color: bisque; }
  footer .final p {
    color: white;
    font-size: 20px;
    font-weight: 400; }
  footer .final h3 {
    background-color: rgba(114, 1, 1, 0.938);
    border: 2px black solid;
    border-radius: 10px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 800;
    padding: 5px; }
    footer .final h3 span {
      color: black; }
  footer .redes {
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column; }
    footer .redes p {
      color: white;
      font-size: 20px;
      font-weight: 400; }
    footer .redes div a {
      padding: 10px; }
      footer .redes div a img {
        width: 40px;
        height: 40px; }
  footer .contacto {
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column; }
    footer .contacto p {
      color: white;
      font-size: 20px;
      font-weight: 400; }
    footer .contacto div button {
      width: 90px;
      height: 25px;
      font-size: 15px;
      font-weight: 300;
      color: black;
      background-color: bisque;
      border: 2px #720101 solid;
      border-radius: 5px; }
    footer .contacto div button {
      width: 90px;
      height: 25px;
      font-size: 15px;
      font-weight: 300;
      color: black;
      background-color: bisque;
      border: 2px #720101 solid;
      border-radius: 5px; }
      footer .contacto div buttonhover {
        background-color: rgba(100, 4, 17, 0.815);
        color: #ffdcc4; }
