@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

/*--------RESET SIEMPRE --------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*---SELECTOR: M% SERVIA EN CASOS PARTICULARES*/
/*------CLASS: ME PERITE APLICARLE UN NOMBRE AL PADRE Y AUMENTAR ESPECIFICIDAD AL TIEMPO QUE PUEDO AGRUPAR PROPIEDADES QUE QUIERO VOLVER A REUTIOIZAR*/
/*---ID: NO ES MUY UTILIZADO EN CSS, NOS SERVIRIA MAS QUE NADA PARA ENLACES INTERNOS Y JAVASCRIP */

/* VER PALETAS DE COLORES CLASE31.35*/
/*-----------INICIO HEADER----*/
/* !----INICIO DE HEADER---------------*/


header{
    width: 100%;
    height: 100vh;
    background-image: url("../img/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: 10;
}
header section nav {
    display: flex;
    justify-content: space-between;
    
}
header nav ul {
    list-style: none;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

header section nav a h1 {
    text-decoration: none;
    background-color:  rgba(255, 228, 196, 0.507);
    border: 2px black  solid;
    border-radius: 5px;
    padding: 5px;
    color:rgb(114, 1, 1); 
    font-family:'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: 700;
    margin-left: 40px;
    margin-top: 30px;
    transition: 2s;
}
header section nav a h1:hover{
    background-color:rgb(114, 1, 1);

    color: beige;
}

header nav span {
    color: black;
}

header nav ul li a {
    text-decoration: none;
    font-size: 15px;
    color: black;
    background-color:rgb(255, 220, 196);
    border: 2px rgb(114, 1, 1) solid;
    border-radius: 5px;
    font-weight: 400;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: inherit;
    margin: 10px;
    padding: 3px;
    transition: 2s;
} 
header nav ul li a:hover{
    background-color:rgb(114, 1, 1);

    color: beige;
}
header .central {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    margin-bottom: 80px;
}
header section h2 {
    color: bisque;
    font-size: 60px;
    font-weight: 700;
    font-style: normal;
    font-family: 'Roboto Condensed', sans-serif;
    border: 3px rgb(114, 1, 1) solid;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.575);
    display: inline-block;
    width: 800px;
    height: 80px;
    text-align: center;
}
header .central p{
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    color: bisque;
    background-color: rgba(0, 0, 0, 0.575);
    border: 2px rgb(114, 1, 1) solid;
    border-radius: 5px;
    padding: 5px;
}




/* !----------------FIN DE HEADER---------------*/
/*-----FIN DE HEADER----------*/

/*-------INICIO DE MAIN--------*/
/* ! ----------------------INICIO DE PAGINA DE PROYECTOS------------------*/
/*------ INICIO DE PAGINA DE PROYECTOS----------*/
/*------- INICIO DE PAGINA DE PROYECTOS----------*/
/*--------- INICIO DE PAGINA DE PROYECTOS---------*/

.proyect{
    width: 100%;
    height: 100vh; 
    background: url(../img/back\ proyectos.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.proyect .central h2{
    width: 600px;
    color:bisque;
    background-color:rgba(0, 0, 0, 0.596);
    border: 2px rgb(80, 5, 5) solid;
    }
.proyect .central p{
    width: 600px;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    color:bisque;
    background-color:rgba(0, 0, 0, 0.596) ;
    border: 2px rgb(80, 5, 5)solid;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
.proyect .central h3{
    font-size: 35px;
    color: black;
    font-weight: 700;
}

.hero { 
    width: 100%;
    height: auto;
    padding-bottom: 40px;
}

.titulo {
    width: 80%;
    height: 180px;
    text-align: center;
    background-color: rgb(139, 9, 0);
    border: 3px black solid;
    border-radius: 5px;
    margin: 50px auto;
}

.titulo h2 {
    color: white;
    font-size: 40px;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
}

.titulo p {
    color: white;
    font-size: 16px;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

.sistemas {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    flex-wrap: wrap;
}
.sistemas div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 500px;
    position: relative;
}
.sistemas div a img {
    width: 300px;
    height: 500px;
    transition: 2s;
}
.sistemas div a:hover img{
    transform:scale(0.9);
}

.sistemas div h3 {
    color:white;
    background-color: rgba(0, 0, 0, 0.596);
    border-radius: 5px;
    padding: 0px 5px 0px 5px;
    font-size: 25px;
    font-family: 'Arvo', serif;
    font-weight: 600;
}
.sistemas div h3{
    position: absolute;
    bottom: 80px;
    width: 100%;
    text-align: center;
}
.sistemas p{
    width:260px;
    color:whitesmoke;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.596);
    border-radius: 5px;
    padding: 0px 5px 0px 5px;
}
.sistemas p{
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
}




/* ! ----------------CIERRE PAGINA DE PROYECTOS----------------*/
/*----------CIERRE PAGINA DE PROYECTOS-------*/
/*----------CIERRE PAGINA DE PROYECTOS--------*/
/*----------CIERRE PAGINA DE PROYECTOS--------*/

/*------------INICIO PAAGINA DE PRODUCTOS-------------*/
/*------------INICIO PAAGINA DE PRODUCTOS-------------*/
/*---push---------INICIO PAGINA DE PRODUCTOS-------------*/
/* ! -------------INICIO DE PAGINA DE PRODUCTOS----------------*/

.produc{
    width: 100%;
    height: 100vh; 
    background: url(../img/back\ productos.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.produc .central h2{
    font-size: 40px;
    color: bisque;

}
.produc .central p{
    font-size: 25px;
    color: bisque;
}
.publicidades{
    overflow: hidden;
} 
.baner{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(114, 1, 1);
    animation-name: slidein;
    animation-duration: 10s;
    animation-timing-function:linear;
    animation-delay: 1s;
    animation-iteration-count: infinite ;
    margin-bottom: 20px;
} 
.baner img{
    border-radius: 10px;
}
@keyframes scroll{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(1750px);
    }
}
.publicidades{
    background: white;
    box-shadow: 0 10px 20px -5px rgba(0,0,0,0.125);
    height: 40px;
    margin: auto;
    overflow: hidden;
    position:relative;
    width: 100%;
}
.publicidades::before,
.publicidades::after{
    background: linear-gradient(to rigth,rgb(255,255,255))0%,rgba(255,255,255,0) 100%;
    content: "";
    height: 100px;
    position:absolute;
    width:200px;
    z-index:2;
}
.publicidades ::after{
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}
.publicidades::before{
    left:0;
    top:0;
}
.publicidades .baner{
    animation: scroll 20s linear infinite;
    display: flex;
    width: 3500px;
}
.publicidades .carousel{
    height: 100%;
    width: 250px;
}

.grid-container{
    width: 100%;
    height: 2600px;
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 200px;
    gap: 20px; 
    background-color:rgb(204, 204, 175);
    
}

.grid-container .uno .primero{
    width: 70%;
    height: 450px;
    margin-left: 50px;
    margin-top: 30px;
    border-radius: 6px;
    overflow: hidden;
    background: white;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
    border: 1px black solid;
    transition: 2s;
    color:black;
    text-align: center;
    
    
}
.grid-container .uno .primero:hover{
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.8);
    transform: translateY(-3%);
    background-color:darkslategrey;
    border: 2px bisque double;
    color: bisque;
}
.grid-container .uno figure img{
    width: 100%;
    height: 100%;
    transition: 2s;
}
.grid-container .uno figure img:hover{
    border: 2px red solid;
    border-radius: 6px;
    transform: scale(1.1);
}
.grid-container .uno .primero .primero-1 a{
    font-size: 20px;
    color:rgb(114, 1, 1);
    text-decoration: none;
    border: 2px black solid;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    padding: 0px 5px 0px 5px;
    transition: 3s;

} 
.grid-container .uno .primero .primero-1 a:hover{
color: bisque;
background-color: rgba(114, 1, 1, 0.562);
border: 2px bisque solid;
}

/* .grid-container .uno .primero{
    transition: 1.5s;
}
.grid-container .uno .primero:hover{
    
} */
.grid-container .uno .segundo{
    width: 70%;
    height: 450px;
    margin-left: 50px;
    margin-top: 30px;
    border-radius: 6px;
    overflow: hidden;
    background: white;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
    border: 1px black solid;
    transition: 2s;
    color:black;
    text-align: center;
   
}
.grid-container .uno .segundo:hover{
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.8);
    transform: translateY(-3%);
    background-color:darkslategrey;
    border: 2px bisque double;
    color: bisque;
}
.grid-container .uno .segundo .segundo-2 a{
    font-size: 20px;
    color:rgb(114, 1, 1);
    text-decoration: none;
    border: 2px black solid;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    padding: 0px 5px 0px 5px;
    transition: 3s;

}
.grid-container .uno .segundo .segundo-2 a:hover{
    color: bisque;
    background-color: rgba(114, 1, 1, 0.562);
    border: 2px bisque solid;
}
.grid-container .uno .tercero{
    width: 70%;
    height: 450px;
    margin-left: 50px;
    margin-top: 30px;
    border-radius: 6px;
    overflow: hidden;
    background: white;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
    border: 1px black solid;
    transition: 2s;
    color:black;
    text-align: center;
   
}
.grid-container .uno .tercero:hover{
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.8);
    transform: translateY(-3%);
    background-color:darkslategrey;
    border: 2px bisque double;
    color: bisque;
}
.grid-container .uno .tercero .tercero-3 a{
    font-size: 20px;
    color:rgb(114, 1, 1);
    text-decoration: none;
    border: 2px black solid;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    padding: 0px 5px 0px 5px;
    transition: 3s;

}
.grid-container .uno .tercero .tercero-3 a:hover{
    color: bisque;
    background-color: rgba(114, 1, 1, 0.562);
    border: 2px bisque solid;
}
.grid-container .uno .cuarto{
    width: 70%;
    height: 450px;
    margin-left: 50px;
    margin-top: 30px;
    border-radius: 6px;
    overflow: hidden;
    background: white;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
    border: 1px black solid;
    transition: 2s;
    color:black;
    text-align: center;
   
}
.grid-container .uno .cuarto:hover{
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.8);
    transform: translateY(-3%);
    background-color:darkslategrey;
    border: 2px bisque double;
    color: bisque;
}
.grid-container .uno .cuarto .cuarto-4 a{
    font-size: 20px;
    color:rgb(114, 1, 1);
    text-decoration: none;
    border: 2px black solid;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    padding: 0px 5px 0px 5px;
    transition: 3s;

}
.grid-container .uno .cuarto .cuarto-4 a:hover {
    color: bisque;
    background-color: rgba(114, 1, 1, 0.562);
    border: 2px bisque solid;
}
.grid-container .uno .quinto{
    width: 70%;
    height: 450px;
    margin-left: 50px;
    margin-top: 30px;
    border-radius: 6px;
    overflow: hidden;
    background: white;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
    border: 1px black solid;
    transition: 2s;
    color:black;
    text-align: center;
   
}
.grid-container .uno .quinto:hover{
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.8);
    transform: translateY(-3%);
    background-color:darkslategrey;
    border: 2px bisque double;
    color: bisque;
}
.grid-container .uno .quinto .quinto-5 a{
    font-size: 20px;
    color:rgb(114, 1, 1);
    text-decoration: none;
    border: 2px black solid;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    padding: 0px 5px 0px 5px;
    transition: 3s;

}
.grid-container .uno .quinto .quinto-5 a:hover{
    color: bisque;
    background-color: rgba(114, 1, 1, 0.562);
    border: 2px bisque solid;

}

.grid-container .dos .octavo{
    width: 70%;
    height: 450px;
    border-radius: 6px;
    margin-left: 50px;
    margin-top: 30px;
    overflow: hidden;
    background: white;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
    border: 1px black solid;
    transition: 2s;
    color:black;
    text-align: center;
    
}
.grid-container .dos .octavo:hover{
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.8);
    transform: translateY(-3%);
    background-color:darkslategrey;
    border: 2px bisque double;
    color: bisque;
}
.grid-container .dos .octavo .octavo-8 a{
    font-size: 20px;
    color:rgb(114, 1, 1);
    text-decoration: none;
    border: 2px black solid;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    padding: 0px 5px 0px 5px;
    transition: 3s;

}
.grid-container .dos .octavo .octavo-8 a:hover{
    color: bisque;
    background-color: rgba(114, 1, 1, 0.562);
    border: 2px bisque solid;
}
.grid-container .dos figure img{
    width: 100%;
    height: 100%;
    transition: 2s;
}
.grid-container .dos figure img:hover{
    border: 2px red solid;
    border-radius: 6px;
    transform: scale(1.1);
}

.grid-container .dos .noveno{
    width: 70%;
    height: 450px;
    margin-left: 50px;
    margin-top: 30px;
    border-radius: 6px;
    overflow: hidden;
    background: white;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
    border: 1px black solid;
    transition: 2s;
    color:black;
    text-align: center;
}
.grid-container .dos .noveno:hover{
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.8);
    transform: translateY(-3%);
    background-color:darkslategrey;
    border: 2px bisque double;
    color: bisque;
}
.grid-container .dos .noveno .noveno-9 a{
    font-size: 20px;
    color:rgb(114, 1, 1);
    text-decoration: none;
    border: 2px black solid;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    padding: 0px 5px 0px 5px;
    transition: 3s;

}
.grid-container .dos .noveno .noveno-9 a:hover{
    color: bisque;
    background-color: rgba(114, 1, 1, 0.562);
    border: 2px bisque solid;
}


.grid-container .dos .decimo{
    width: 70%;
    height: 450px;
    margin-left: 50px;
    margin-top: 30px;
    border-radius: 6px;
    overflow: hidden;
    background: white;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
    border: 1px black solid;
    transition: 2s;
    color:black;
    text-align: center;
    
}
.grid-container .dos .decimo:hover{
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.8);
    transform: translateY(-3%);
    background-color:darkslategrey;
    border: 2px bisque double;
    color: bisque;
}


.grid-container .dos .decimo .decimo-10 a{
    font-size: 20px;
    color:rgb(114, 1, 1);
    text-decoration: none;
    border: 2px black solid;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    padding: 0px 5px 0px 5px;
    transition: 3s;

}
.grid-container .dos .decimo .decimo-10 a:hover{
    color: bisque;
    background-color: rgba(114, 1, 1, 0.562);
    border: 2px bisque solid;
}
.grid-container .dos .decimouno{
    width: 70%;
    height: 450px;
    margin-left: 50px;
    margin-top: 30px;
    border-radius: 6px;
    overflow: hidden;
    background: white;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
    border: 1px black solid;
    transition: 2s;
    color:black;
    text-align: center;
    
}
.grid-container .dos .decimouno:hover{
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.8);
    transform: translateY(-3%);
    background-color:darkslategrey;
    border: 2px bisque double;
    color: bisque;
}

.grid-container .dos .decimouno .decimouno-11 a{
    font-size: 20px;
    color:rgb(114, 1, 1);
    text-decoration: none;
    border: 2px black solid;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    padding: 0px 5px 0px 5px;
    transition: 3s;

}
.grid-container .dos .decimouno .decimouno-11 a:hover{
    color: bisque;
    background-color: rgba(114, 1, 1, 0.562);
    border: 2px bisque solid;
}

.grid-container .dos .decimodos{
    width: 70%;
    height: 450px;
    margin-left: 50px;
    margin-top: 30px;
    border-radius: 6px;
    overflow: hidden;
    background: white;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
    border: 1px black solid;
    transition: 2s;
    color:black;
    text-align: center;
    
}
.grid-container .dos .decimodos:hover{
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.8);
    transform: translateY(-3%);
    background-color:darkslategrey;
    border: 2px bisque double;
    color: bisque;
}
.grid-container .dos .decimodos .decimodos-12 a{
    font-size: 20px;
    color:rgb(114, 1, 1);
    text-decoration: none;
    border: 2px black solid;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    padding: 0px 5px 0px 5px;
    transition: 3s;

}
.grid-container .dos .decimodos .decimodos-12 a:hover{
    color: bisque;
    background-color: rgba(114, 1, 1, 0.562);
    border: 2px bisque solid;
}
    

.grid-container .tres .decimocinco{
    width: 70%;
    height: 450px;
    margin-left: 50px;
    margin-top: 30px;
    border-radius: 6px;
    overflow: hidden;
    background: white;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
    border: 1px black solid;
    transition: 2s;
    color:black;
    text-align: center;
    
}
.grid-container .tres .decimocinco:hover{
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.8);
    transform: translateY(-3%);
    background-color:darkslategrey;
    border: 2px bisque double;
    color: bisque;
}
.grid-container .tres .decimocinco  .decimocinco-15 a{
    font-size: 20px;
    color:rgb(114, 1, 1);
    text-decoration: none;
    border: 2px black solid;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    padding: 0px 5px 0px 5px;
    transition: 3s;
}
.grid-container .tres .decimocinco  .decimocinco-15 a:hover{
    color: bisque;
    background-color: rgba(114, 1, 1, 0.562);
    border: 2px bisque solid;
}
.grid-container .tres figure img{
    width: 80%;
    height: 80%;
    transition: 2s;
}
.grid-container .tres figure img:hover{
    border: 2px red solid;
    border-radius: 6px;
    transform: scale(1.06);
}
.grid-container .tres .decimoseis{
    width: 70%;
    height: 450px;
    margin-left: 50px;
    margin-top: 30px;
    border-radius: 6px;
    overflow: hidden;
    background: white;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
    border: 1px black solid;
    transition: 2s;
    color:black;
    text-align: center;
    
}
.grid-container .tres .decimoseis:hover{
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.8);
    transform: translateY(-3%);
    background-color:darkslategrey;
    border: 2px bisque double;
    color: bisque;
}
.grid-container .tres .decimoseis .decimoseis-16 a{
    font-size: 20px;
    color:rgb(114, 1, 1);
    text-decoration: none;
    border: 2px black solid;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    transition: 3s;
    padding: 0px 5px 0px 5px;

}
.grid-container .tres .decimoseis .decimoseis-16 a:hover{
    color: bisque;
    background-color: rgba(114, 1, 1, 0.562);
    border: 2px bisque solid;
}
.grid-container .tres .decimosiete{
    width: 70%;
    height: 450px;
    margin-left: 50px;
    margin-top: 30px;
    border-radius: 6px;
    overflow: hidden;
    background: white;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
    border: 1px black solid;
    transition: 2s;
    color:black;
    text-align: center;
    
    
}
.grid-container .tres .decimosiete:hover{
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.8);
    transform: translateY(-3%);
    background-color:darkslategrey;
    border: 2px bisque double;
    color: bisque;
}
.grid-container .tres .decimosiete .decimosiete-17 a{
    font-size: 20px;
    color:rgb(114, 1, 1);
    text-decoration: none;
    border: 2px black solid;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    padding: 0px 5px 0px 5px;
    transition: 3s;
}
.grid-container .tres .decimosiete .decimosiete-17 a:hover{
    color: bisque;
    background-color: rgba(114, 1, 1, 0.562);
    border: 2px bisque solid;
}
.grid-container .tres .decimoocho{
    width: 70%;
    height: 450px;
    margin-left: 50px;
    margin-top: 30px;
    border-radius: 6px;
    overflow: hidden;
    background: white;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
    border: 1px black solid;
    transition: 2s;
    color:black;
    text-align: center;
}
.grid-container .tres .decimoocho:hover{
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.8);
    transform: translateY(-3%);
    background-color:darkslategrey;
    border: 2px bisque double;
    color: bisque;
}
.grid-container .tres .decimoocho .decimoocho-18 a{
    font-size: 20px;
    color:rgb(114, 1, 1);
    text-decoration: none;
    border: 2px black solid;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    padding: 0px 5px 0px 5px;
    transition: 3s;
}
.grid-container .tres .decimoocho .decimoocho-18 a:hover{
    color: bisque;
    background-color: rgba(114, 1, 1, 0.562);
    border: 2px bisque solid;
}
.grid-container .tres .decimonueve{
    width: 70%;
    height: 450px;
    margin-left: 50px;
    margin-top: 30px;
    border-radius: 6px;
    overflow: hidden;
    background: white;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
    border: 1px black solid;
    transition: 2s;
    color:black;
    text-align: center;
}
.grid-container .tres .decimonueve:hover{
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.8);
    transform: translateY(-3%);
    background-color:darkslategrey;
    border: 2px bisque double;
    color: bisque;
}
.grid-container .tres .decimonueve .decimonueve-19 a{
    font-size: 20px;
    color:rgb(114, 1, 1);
    text-decoration: none;
    border: 2px black solid;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    padding: 0px 5px 0px 5px;
    transition: 3s;
}
.grid-container .tres .decimonueve .decimonueve-19 a:hover{
    color: bisque;
    background-color: rgba(114, 1, 1, 0.562);
    border: 2px bisque solid;
}








/* !----------------FIN DE PAGINA DE PRODUCTOS-------------*/
/*-----------------fin de pagina de productos----------------------------------*/
/*------------------FIN DE PAGINA DE PRODUCTOS------------------------------------*/
/*---------------------FIN DE PAGINA DE PRODUCTOS-----------------------------------*/

/*--------------------Inicio de pagina de Servicios-------------------------------*/
/*--------------------- INICIO DE PAGINA DE SERVICIO--------------------------------*/
/*----------------------INICIO DD PAGINA DE SERVICIO-------------------------------*/
/* !--------------------INICIO DE PAGINA DE SERVICIO----------------------------*/


.service-1{
    width: 100%;
    height: 100vh; 
    background-image:url(../img/Arq\ planificando.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.service-1 section .central h2{
    width: 600px;
    font-family:  'Roboto Condensed', sans-serif;
    font-size: 40px;
    color: bisque;
    font-weight: 800;
    background-color:rgba(0, 0, 0, 0.575);
    border:  2px rgb(114, 1, 1) solid ;
}
.service-1 section .central p{
    font-family:  'Roboto Condensed', sans-serif;
    font-size: 30px;
    color: bisque;
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0.575);
    border:  2px rgb(114, 1, 1) solid ;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
}


.servicios img{
    width: 400px;
    height: 300px;
    border-radius: 10px;
}

.servicios div{
    margin: 30px 40px 30px 40px;
    display: flex;
    justify-content: space-around;
    border: 2px rgba(100, 4, 17, 0.938) solid;
    border-radius: 5px;
    background-color:rgba(42, 52, 87, 0.61);
}
.servicios .asesor div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width:60%;
}
/* .servicios .asesor img{
    transition: 4s;
}
.servicios .asesor img:hover{
    transform:rotateY(180deg);
}  */

.servicios .asesor h3{
    color:rgb(114, 1, 1);
    font-size: 35px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    animation-name: slidein;
    animation-duration: 5s;
    animation-timing-function:ease-in-out;
    animation-direction:initial;
    animation-delay: 1s;
    /* animation-iteration-count:infinite; */
    /* ! SHORT CUT */
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

@keyframes slidein{
        /* DESDE */
        from{
            margin-right: 100% ;
            width: 300%;
        }
        /* HASTA*/
        to{
            margin: 0%;
            width: 100%;
        }
        
}
.servicios .asesor p{ 
    color:black;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: italic;
    text-align:justify;
    padding: 0px 5px 0px 5px;
}
.servicios .asesor div p span{
    color: red;
}

.servicios .diseño div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width:60%;
}
.servicios .diseño h3{
    color:rgb(114, 1, 1);
    font-size: 35px;
    font-weight: 600;
    font-family:'Times New Roman', Times, serif;
    animation-name: slidein;
    animation-duration: 7s;
    animation-timing-function:ease-in-out;
    animation-direction:initial;
    animation-delay: 1s;
}
.servicios .diseño img{
    transition: 4s;
}
.servicios .diseño img:hover{
    transform:rotateY(180deg);
} 

.servicios .diseño p{
    color: black;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: italic;
    text-align:justify;
    padding: 0px 5px 0px 5px;
}
.servicios .diseño div p span{
    color: red;
}


.servicios .dimension div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width:60%;
}
.servicios .dimension h3{
    color:rgb(114, 1, 1);
    font-size: 35px;
    font-weight: 600;
    font-family:'Times New Roman', Times, serif;
    animation-name: slidein;
    animation-duration: 9s;
    animation-timing-function:ease-in-out;
    animation-direction:initial;
    animation-delay: 1s;
}
.servicios .dimension p{
    color: black;
    font-size: 16spx;
    font-weight: 400;
    font-family:'Roboto Condensed', sans-serif;
    font-style: italic;
    text-align:justify;
    padding: 0px 5px 0px 5px;
}
.servicios .dimension div p span{
    color: red;
}


.servicios .presupuesto div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width:60%;
}
.servicios .presupuesto h3{
    color:rgb(114, 1, 1);
    font-size: 35px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    animation-name: slidein;
    animation-duration: 11s;
    animation-timing-function:ease-in-out;
    animation-direction:initial;
    animation-delay: 1s;
}
.servicios .presupuesto p{
    color: black;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: italic;
    text-align: justify;
    padding: 0px 5px 0px 5px;

}
.servicios .presupuesto span{
    color: red;
}
.servicios .ejecucion div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width:60%;
}
.servicios .ejecucion h3{
    color:rgb(114, 1, 1);
    font-size: 35px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    animation-name: slidein;
    animation-duration: 12s;
    animation-timing-function:ease-in-out;
    animation-direction:initial;
    animation-delay: 1s;
}
.servicios .ejecucion p{
    color: black;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 0px 5px 0px 5px;
    font-style: italic;
    text-align:justify;
}
.servicios .ejecucion span{
    color: red;

}
.servicios .garantias div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width:60%;
}
.servicios .garantias h3{
    color:rgb(114, 1, 1);
    font-size: 35px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    animation-name: slidein;
    animation-duration: 13s;
    animation-timing-function:ease-in-out;
    animation-direction:initial;
    animation-delay: 1s;
}
.servicios .garantias p{
    color: black;
    font-size: 16px;
    font-weight: 400;
    font-family:'Roboto Condensed', sans-serif;
    font-style: italic;
    text-align: justify;
    padding: 0px 5px 0px 5px;
}
.servicios .garantias span{
    color: red;
}
.servicios .mantenimiento div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width:60%;
}
.servicios .mantenimiento h3{
    color:rgb(114, 1, 1);
    font-size: 35px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    animation-name: slidein;
    animation-duration: 15s;
    animation-timing-function:ease-in-out;
    animation-direction:initial;
    animation-delay: 1s;
}
.servicios .mantenimiento p{
    color:black;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: italic;
    text-align: justify;
    padding: 0px  5px 0px 5px;
}
.servicios .mantenimiento div p span{
    color: red;
}



/* !------------------------FIN DE PAGINA DE SERVCIO--------------------------*/
/*------------------------fin pagina de Servicios-------------------------*/
/*----------------------FIN PAGINA DE SERVICIOS------------------------------*/
/*------------------------FIN DE PAGINA DE SERVICIO-------------------------------*/
/* !-----------------------MAIN DE INICIO -----------------------------------*/

.inicio{
    width: 100%;
    height: auto;
    background-color:rgba(47, 79, 79, 0.952);
}
.prueba{
    display: flex;
    justify-content: space-around;
    cursor: default;
}



.target{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 40px;
    border-radius: 10px;
}
.cards{
    position: relative;
    width: 350px;
    height: 450px;
    background-color: black;
    border-radius: 10px;
    border: 2px black solid;
    box-shadow: 0px, 30px, 30px, rgba(0,0,0,0.8);
}
.content{
    position: absolute;
    bottom: 0;
    width: 80%;
    height: 60px;
    background-color:rgba(114, 1, 1, 0.562);
    border-radius: 10px;
    left: 10%;
    text-align: center;
    transition: 2s;
    overflow: hidden; 
}
.imgbox{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 2s;
}
.imgbox img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    transition: 2s;
}
.content h4{
    font-size: 30px;
    text-transform: uppercase;
    margin: 25px;
}
.content p{
    width: 80%;
    margin: 10px auto;
    font-size: 18px;
    transition: 2s;
    opacity: 0; 
}
.content p span{
    color: red;
}
.content a{
    text-decoration: none;
    background-color:rgb(114, 1, 1);
    color:bisque;
    padding: 10px 15px;
    display: inline-block;
    margin-top: 10px;
    transition: 2s;
    opacity: 0;
}
.cards:hover .content{
    height: 100%;
    width: 100%;
    left: 0;
}
.cards:hover p,
.cards:hover a{
    opacity: 1;
    transition-delay: 2s;
}
.cards:hover img{
    opacity: 0;
}
h5{
    color: bisque;
    font-size: 35px;
    font-weight: 700;
    font-family:'Roboto Condensed', sans-serif ;
    color:rgb(70, 14, 14);
    margin-top: 40px; 
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items:center; 
    font-style: normal;
    
    
}
.target-1{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 40px;
}
.especialista{
    width: 100%;
    height: 60px;
    background-color: bisque;
}
.especialista h5{
    color: rgb(70, 14, 14);
    text-align: center;
}

/*!---------seccion--------------------*/
/*!---------seccion--------------------*/
/*!---------seccion--------------------*/
/*!---------seccion--------------------*/


.probar{
    display: flex;
    justify-content: space-around;
    cursor: default;
}
.pisoradiante{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 30px;
}
.cards{
    position: relative;
    width: 350px;
    height: 450px;
    background-color:black;
    box-shadow: 0px, 30px, 30px, rgba(0,0,0,0.8);
}
.content{
    position: absolute;
    bottom: 0;
    width: 80%;
    height: 60px;
    color: bisque;
    background-color:rgba(114, 1, 1, 0.562);
    left: 10%;
    text-align: center;
    transition: 0.5s;
    overflow: hidden; 
}
.imgbox{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
}
.imgbox img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.content h4{
    font-size: 30px;
    text-transform: uppercase;
    margin: 25px;
}
.content p{
    width: 80%;
    margin: 10px auto;
    font-size: 18px;
    transition: 0.5s;
    opacity: 0;
}
.content a{
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 10px 15px;
    display: inline-block;
    margin-top: 10px;
    transition: 0.5s;
    opacity: 0;
}
.cards:hover .content{
    height: 100%;
    width: 100%;
    left: 0;
}
.cards:hover p,
.cards:hover a{
    opacity: 1;
    transition-delay: 0.5s;
}
.cards:hover img{
    opacity: 0;
}
.pisoradiante-1{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 30px;
}

/*!-----------seccion------------*/
/*!-----------seccion------------*/
/*!-----------seccion------------*/

.pruebe{
    display: flex;
    justify-content: space-around;
    cursor: default;
}
.aguacaliente{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 30px;
    border-radius: 10px;
}
.cards{
    position: relative;
    width: 350px;
    height: 450px;
    background-color: black;
    border-radius: 10px;
    border: 2px black solid;
    box-shadow: 0px, 30px, 30px, rgba(0,0,0,0.8);
}
.content{
    position: absolute;
    bottom: 0;
    width: 80%;
    height: 60px;
    background-color:rgba(114, 1, 1, 0.562);
    border-radius: 10px;
    left: 10%;
    text-align: center;
    transition: 2s;
    overflow: hidden; 
}
.imgbox{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 2s;
}
.imgbox img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    transition: 2s;
}
.content h4{
    font-size: 30px;
    text-transform: uppercase;
    margin: 25px;
}
.content p{
    width: 80%;
    margin: 10px auto;
    font-size: 18px;
    transition: 2s;
    opacity: 0;
} 
.content a{
    text-decoration: none;
    background-color:black;
    color:bisque;
    padding: 10px 15px;
    display: inline-block;
    margin-top: 10px;
    transition: 2s;
    opacity: 0;
}
.cards:hover .content{
    height: 100%;
    width: 100%;
    left: 0;
}
.cards:hover p,
.cards:hover a{
    opacity: 1;
    transition-delay: 2s;
}
.cards:hover img{
    opacity: 0;
}
.especial{
    width: 220px;
    height: 120px;
    border: 8px black double;
    border-radius: 10px;
    padding: 5px;
    background-color:rgba(114, 1, 1, 0.678);
    
}
.especial h5{
    color:bisque;
    margin: 0;
    padding: 5px;
    cursor: default;
}


.aguacaliente{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 30px;
    border-radius: 10px;
}
.cards{
    position: relative;
    width: 350px;
    height: 450px;
    background-color: black;
    border-radius: 10px;
    border: 2px black solid;
    box-shadow: 0px, 30px, 30px, rgba(0,0,0,0.8);
}
.content{
    position: absolute;
    bottom: 0;
    width: 80%;
    height: 60px;
    background-color:rgba(114, 1, 1, 0.562);
    border-radius: 10px;
    left: 10%;
    text-align: center;
    transition: 2s;
    overflow: hidden; 
}
.imgbox{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 2s;
}
.imgbox img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    transition: 2s;
}
.content h4{
    font-size: 30px;
    text-transform: uppercase;
    margin: 25px;
}
.content p{
    width: 80%;
    margin: 10px auto;
    font-size: 18px;
    transition: 2s;
    opacity: 0;
}
.content a{
    text-decoration: none;
    background-color:black;
    color:bisque;
    padding: 10px 15px;
    display: inline-block;
    margin-top: 10px;
    border-radius: 5px;
    transition: 2s;
    opacity: 0;
}
.cards:hover .content{
    height: 100%;
    width: 100%;
    left: 0;
}
.cards:hover p,
.cards:hover a{
    opacity: 1;
    transition-delay: 2s;
}
.cards:hover img{
        opacity: 0;
}








/*!--------------------------------------------------------------*/


.botones-1{
    height: 50px;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    background-color:rgba(47, 79, 79, 0.767);
    
}
.botones-1 div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.botones-1 a{
    color:rgba(100, 4, 17, 0.925);
    text-align: center;
    text-decoration: none;
    border: 2px black solid;
    background-color:bisque;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    transition: 2s;
}
.botones-1 a:hover{
    background-color:rgba(100, 4, 17, 0.925);
    color: bisque;
}

.tecnica {
    color: black;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    margin-top: 40px;
    text-align: center;
    margin-top: 90px;
    margin-bottom: 30px;
    border: 2PX black solid;
    background-color: beige;
    margin-left: 50px;
    margin-right: 50px;
}
.informacion {
    display: flex;
    justify-content: center;
    align-items: center;
}
.informacion h3{
    color: rgb(4, 4, 170);
}
.filauno{
    width: 600px;
}

.filauno div {
    margin-bottom: 30px;
    padding-left: 15px;
}

.filauno div img {
    width: 180px;
    height: 150px;
}
.filauno div p {
    width: 350px;
    font-size: 14px;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.filauno div a {
    text-decoration: none;
}
.filauno .uno {
    display: flex;
}
.filauno .dos {
    display: flex;
}

.filauno .tres {
    display: flex;
}

.filados{
    width: 600px;
}
.filados div {
    margin-bottom: 30px;
    padding-left: 15px;
}
.filados div img {
    width: 180px;
    height: 150px;
    background-size: cover;
}
.filados div p {
    width: 350px;
    font-size: 14px;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.filados div a {
    text-decoration: none;
}
.filados .cuatro {
    display: flex;
}
.filados .cinco {
    display: flex;
}
.filados .seis {
    display: flex;
}
.finaldepagina p {
    color:rgb(114, 1, 1);
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    padding: 40px;
    margin: 20px;
    cursor: default;
}

.finaldepagina h3 {
    color: red;
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 20px;
    margin: 15px;
}

.finaldepagina .finish{
    display: flex;
    justify-content:space-around;
}
.slider{
    width: 600px;
    margin: 0;
    overflow: hidden;
}
.slider ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: cambio 20s infinite alternate;
}
.slider ul li{
    list-style: none;
}
.slider ul li img{
    width: 600px;
    height: 343px;
}

@keyframes cambio{
    0% {margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}

.logofijo {
    position:fixed;
    bottom: 100px;
    right: 80px;
}

.logofijo img {
    width: 50px;
}


/* !-----------------INICIO DE PAGINA DE CONTACTO-------------------------*/
/*----------INICIO DE CONTACTO-------------*/
/*-----------INICIO DE CONTACTO--------------*/
/*-------------INICIO DE CONTACTO--------------*/

.contac{
    width: 100%;
    height: 100vh; 
    background-image: url("../img/back\ contacto.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.quinta{
    width: 100%;
    height: 900px;
    background-image: url("../img/Planos\ Arq.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 50px;
}
.informacion-2 .informate{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.informacion-2 .informate{
    border: 3px rgb(114, 1, 1) solid;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.479);

}
.informacion-2 .informate h2{
    color:bisque;
    font-size: 30px;
    font-weight: 800;
    font-family: 'Times New Roman', Times, serif;
}
.informacion-2 p{
    color: white;
    width: 800px;
    font-size: 25px;
    font-weight: 300;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    display: inline-block;
}
.contactame{
    width: 50%;
    height: 550px;  
    padding-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}
.contactame input{
    width: 408px;
    height: 50px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border:3px rgb(114, 1, 1) solid; 
    border-radius: 5px;
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.26);
}
.contactame input:hover{
    background-color:rgba(0, 0, 0, 0.63) ;
}
.contactame textarea:hover{
    background-color:rgba(0, 0, 0, 0.63) ;
}
.contactame input::placeholder{
    color: black;
    font-weight: 400;
}

.contactame h2{
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    color: black;
    font-size: 30px;
    font-weight: 800;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 20px;
    margin-top: 100px;
}

.contactame textarea{
    padding: 10px;
    border:3px rgb(114, 1, 1) solid;
    background-color: rgba(0, 0, 0, 0.26);
    border-radius: 5px;
}
.contactame textarea::placeholder{
    color: black;
    font-weight: 400;
}
.contactame #enviar{
    background-color:  rgba(0, 0, 0, 0.26);
    font-style: normal;
    color:black;
    
}
.contactame #enviar:hover{
    background-color:rgba(100, 4, 17, 0.938);
    color: bisque;
}



/* !----------------FIN DE PAGINA DE CONTACTO---------------------*/
/*---------------fin pagina de contacto----------------*/
/*-----------------FIN DE PAGINA DE CONTACTO-------------*/
/*-------------------FIN DE AGINA DE CONTACTO---------------*/

/*----------FIN DEL MAIN---------*/
/* !------------FIN DE MAIN DEL INICIO--------------------*/


/*--------INICIO DEL FOOTER----------*/
/* !------------INICIO DEL FOOTER----------------*/


footer {
    width: 100%;
    height: 450px;
    background-color: rgb(114, 1, 1);
    
}
.marcas{
    width: 100%;
    height: 100px;
    background-color: rgb(31, 114, 116);
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    margin-top: 50px;
}
.marcas img {
    width: 100px;
    height: 50px;
    border:3px rgb(114, 1, 1) solid ;
    border-radius: 5px;

}
.links{
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 80px;
    list-style: none;
}
.links li a{
    text-decoration: none;
    color:bisque;
}
.links h4{
    font-size: 20px;
    color: black;
    font-weight: 800;
    padding-bottom: 20px;
}
.titulares{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content:space-around;
    align-items:center;
}
.titulares .redes a img{
    width: 40px;
    height: 40px;
}
.titulares .final{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}
.titulares .final p{
    color:bisque;
    font-size: 15px;
    font-weight: 500;
}
.titulares .final h4{
    font-size: 20px;
    color: black;
    font-weight: 800;
    padding-bottom: 10px;
}
.titulares .final h3{
    background-color:  rgba(255, 228, 196, 0.507);
    border: 2px black  solid;
    border-radius: 5px;
    padding: 5px;
    color:rgb(114, 1, 1); 
    font-family:'Times New Roman', Times, serif;
}
.titulares .final span{
    color: black;
}
.titulares .redes{
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.redes div a{
    padding: 10px;
}
.redes div a img{
    transition: 2s;
}
.redes div a img:hover{
    transform: scale(1.2);
}
/* rgba(0, 0, 0, 0.562) */
.redes div img:hover{
    background-color:rgba(0, 0, 0, 0.432) ;
    border-radius: 8px;
} 
.titulares .contacto{
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.titulares .contacto button{
    width: 90px;
    height: 25px;
    font-size: 15px;
    font-weight: 300;
    color: black;
    background-color: bisque;
    border: 2px black solid;
    border-radius: 5px;
}
.titulares .contacto button:hover{
    background-color:rgba(100, 4, 17, 0.815);
    color: rgb(255, 220, 196);
}






